.link{
  position: relative;
  border: 1px solid rgba(114, 112, 112, 0.55);
  padding-inline: 1.6rem;
  padding-block: .2rem;
  border-radius: 2rem;
  background-color: rgba(255, 255, 255, 0);
  /* backdrop-filter: blur('5px'); */
  backdrop-filter: blur(5px);
  overflow: hidden;
  color: white;
  &::after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 2rem;
    background: linear-gradient(45deg , rgb(152, 14, 232) , rgb(8, 173, 210));
    z-index: -1;
    top: 180%;
    transition: all .3s linear;

  }
  

  &:hover{
    color: white;
    cursor: pointer;
    &::after{
      top: 0;
    }
  }
}

.burger {
  width: 20px;
  height: 16px;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
  display: none;
}

.line {
  width: 100%;
  height: 2px;
  background-color: var(--textColor);
}

.responsiveMenu{
  position: absolute;
  top: 100px;
  left: 0;
  background-color: var(--bg);
  height: calc(100vh - 100px);
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 50px;
  font-size: 36px;
  z-index: 999;
}

@media screen and (max-width: 640px) {
  .burger {
    display: flex;
  }

  .link{
    display: none;
  }
}
