.container {
  margin-top: 50px;
}

.title {
  color: var(--softTextColor);
  margin-bottom: 30px;
  font-size: 2rem;
}

.write {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 30px;
}

.input {
  padding-inline: 20px;
  padding-top: 10px;
  width: 100%;
  border: .5px solid rgba(0, 0, 0, 0.253);
  border-radius: .4rem;
  font-size: 1.8rem;
  &:focus{
    outline: none;
    border: 1.5px solid green;
    border-radius: .5rem;
  }
}

.button {
  padding: 14px 30px;
  background-color: teal;
  color: white;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1.4rem;
}

.comments{
  margin-top: 20px;
}

.comment{
  margin-bottom: 20px;
  
}

.user {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-bottom: 20px;
  min-width : 5rem;
  min-height : 5rem;
}

.image {
  border-radius: 50%;
  object-fit: cover;
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.userInfo {
  display: flex;
  flex-direction: column;
  gap: 5px;
  color: var(--softTextColor);
}

.username {
  font-weight: 500;
}

.date{
  font-size: 14px;
}

.desc{
  font-size: 18px;
  font-weight: 300;
}
